torch>=2.10
torchaudio>=2.10
transformers==4.57.6
accelerate==1.12.0
onnx
onnxruntime
onnxruntime-tools
gguf
numpy
tqdm
safetensors
huggingface_hub
sentencepiece
librosa
scipy
soundfile
einops
rich

# cuDNN 9.x 