onnx
onnxruntime
numpy
pyopenjtalk-plus
soundfile
soxr
pyyaml
rich
sounddevice
huggingface_hub[hf_xet]
fastapi
uvicorn[standard]
pydantic
g2p_en
wordsegment
nltk
pypinyin
opencc-python-reimplemented
cn2an
jieba_fast
tokenizers
g2pM
